@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}
#filled:hover {
  background-color: white !important;
  color: black !important;
}
.position-relative {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);
  background-size: cover;
  background-position: center;
}
.position-absolute {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#outlined:hover {
  background-color: #9b5de5;
  color: white;
}

#filled {
  border-radius: 30px;
  background-color: #9b5de5;
}

#outlined {
  border-radius: 30px;
  border: 1px solid #9b5de5;
}
